<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}WebSite{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet"> -->
    {% block head %}{% endblock head %}
</head>

<body>
<header>{% block header %}{% endblock header %}</header>

<div id="content">{% block content %}{% endblock content %}</div>

<footer><a href="/">Go index...</a>{% block footer %}{% endblock footer %}</footer>
</body>

</html>